[2021-06-08 09:26] honeybhardwaj opened #6 "Creating navigation bar using flexbox for the page"
Hi,
The navbar that is created till now have some issues with it like it has some margins above the navbar. also it is made using floats. i would like to make it better using flexbox. kindly assign me this issue.

Thanks
Honey Bhardwaj

[2021-06-08 09:33] rohan-kulkarni-25 commented on #6
Ok @honeybhardwaj  !!

[2021-06-08 09:33] honeybhardwaj commented on #6
thanks @rohan-kulkarni-25

[2021-06-08 09:45] rohan-kulkarni-25 opened #7 "Check Welcome.yml"

[2021-06-08 09:48] #7 closed

[2021-06-08 09:48] rohan-kulkarni-25 opened #8 "Check Welcome.yml"

[2021-06-08 09:54] #8 closed

[2021-06-08 09:54] rohan-kulkarni-25 opened #9 "Check Welcome.yml"

[2021-06-08 13:57] #6 closed

[2021-06-08 14:10] honeybhardwaj opened #12 "Adding color pellete for everyone to follow color scheme for website"
hi i would like to add the color that i used for creating the navbar for the website so that everyone can follow that. those color combination was choosed from adobe color picker

[2021-06-08 15:10] honeybhardwaj opened #14 "Updating README.md"
Hi,
I would like to update the Read me file to add the necessary things.

thanks
Honey

[2021-06-08 15:32] Sarthakjain594 commented on #14
heyy ,

Can I try to  work on this as well ??

[2021-06-08 15:47] Ayan-thecodeking commented on #14
ya sure go for it

[2021-06-08 15:48] Ayan-thecodeking commented on #14
sure ..go for it

[2021-06-08 15:53] rohan-kulkarni-25 commented on #14
Hey, @Ayan-thecodeking  Sorry to cut you here !! But @honeybhardwaj  asked in the comment that he will like to work on this issue !! It's not fair to assign an issue who asks second !! This is Ok for this time we all are learning here but this will create big issues when working on real-world projects! Please keep in mind !! You can go with this @Sarthakjain594  If @honeybhardwaj  has no objection

[2021-06-08 15:54] rohan-kulkarni-25 commented on #12
What happened ? don't think I was this issue was ignored just was thinking about how can we do this !! Please let me know how will you like to do this !!

[2021-06-08 15:58] Sarthakjain594 commented on #14
heyy  @honeybhardwaj ,
 Pls let me know your view .

[2021-06-08 15:59] honeybhardwaj commented on #14
really i appreciate that @rohan-kulkarni-25 , No issue @Sarthakjain594  you can continue to work on it i dont have any problem

[2021-06-08 15:59] rohan-kulkarni-25 opened #15 "Code Architechture of Our Website !"
## We need this in readme !! Please let me know if you will like to add it !

If you don't know the layout of our website let me know I will tell you !!

![image](https://user-images.githubusercontent.com/76584243/121218406-54ebe380-c8a0-11eb-97dd-fab18158c454.png)

[2021-06-08 16:00] Ayan-thecodeking commented on #14
so sry actually I hv assigned someone first time

[2021-06-08 16:07] honeybhardwaj commented on #12
@rohan-kulkarni-25   i ll add a png file you could use it. we generally follow a collow pellete png for a site and try to do designing accordingly

[2021-06-08 16:08] Sarthakjain594 commented on #15
heyy @rohan-kulkarni-25  ,
Can I add this ?

[2021-06-08 16:13] Sarthakjain594 commented on #14
@honeybhardwaj @rohan-kulkarni-25 @Ayan-thecodeking Thanks I will try my best

[2021-06-08 16:15] Sarthakjain594 commented on #14
Pls give me a gist of what content do we need to add in here .

[2021-06-08 16:18] honeybhardwaj commented on #14
@Sarthakjain594 whatever that will be useful for the intro page about this repo such as  its description, guidelines, desrciption of directores . contributors at bottom etc

[2021-06-08 16:44] rohan-kulkarni-25 commented on #15
OK, @Sarthakjain594  !! We have to add the website layout like this !!

there is one assets folder in which there are two folders in which one is CSS and the other is images so We want that every single image should be added to the image folder and all CSS files should be added in CSS !

then we have js folder where all script files will be added !

[2021-06-08 17:05] rohan-kulkarni-25 opened #17 "Add `contributors` in `readme.md`"
Hey, We will like to add the contributor's section in the readme.md file !!

This will be just like a shout-out to every single contributor to Our project !!

Task :- To copy those two lines and paste those in the readme file at the bottom.

`## Our Contributors !! All Credits to them 🙌🏻`

`<a href="https://github.com/Coders-Evoke-Community/CodersEvoke_website/graphs/contributors">
  <img src="htt

[2021-06-08 17:08] Sarthakjain594 commented on #15
okkk so above given image is an example . I need to make it for our website layout .

[2021-06-08 17:50] rohan-kulkarni-25 commented on #17
Fixed in #18 !!

[2021-06-08 17:50] #17 closed

[2021-06-08 17:51] rohan-kulkarni-25 commented on #14
Fixes #18

[2021-06-08 17:51] #14 closed

[2021-06-08 19:08] honeybhardwaj opened #20 "Update Readme"
Hi ,
I think i can update the readme file more and in a better way. kindly assign me this.
Thanks
Honey Bhardwaj

[2021-06-09 03:27] #12 closed

[2021-06-09 05:12] Sarthakjain594 commented on #15
Heyy ,
Can I have some help regarding this issue ??

[2021-06-09 05:35] Sarthakjain594 commented on #15
heyy @rohan-kulkarni-25  ,
should I remove the existing repo structure ,then add thsi tree structure or just add it as well ?

[2021-06-09 05:37] rohan-kulkarni-25 commented on #15
Yes remove that one but please send the image here which you will be going to add

[2021-06-09 05:37] Sarthakjain594 commented on #15
okkk

[2021-06-09 05:39] Sarthakjain594 commented on #15
![Screenshot 2021-06-09 110856](https://user-images.githubusercontent.com/77162721/121299537-33780f80-c913-11eb-8294-6882b8fc7e80.png)
This one .

[2021-06-09 07:17] rohan-kulkarni-25 commented on #15
@Sarthakjain594

 add pages folder as js it will be there for sure !!

[2021-06-09 08:42] honeybhardwaj opened #23 "Problem with Greetings.yml"
Hi,
There is some problem with greetings workflow, it is failing for users. kindly check that

thanks
Honey Bhardwaj

[2021-06-09 11:25] rohan-kulkarni-25 commented on #23
Yes i will check that soon !!

[2021-06-09 16:55] #20 closed

[2021-06-09 19:34] honeybhardwaj opened #25 "New Logo for Community"
Hi,
I think we can have suggestions for new logo and this issue can be made open for all so that we can choose best one for community since the current logo i think there can be improvement

Thanks
Honey Bhardwaj

[2021-06-10 16:56] ujju20 commented on #25
These are some logos which I found suitable
![Logo1](https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F236x%2Fc2%2Fa9%2Fc9%2Fc2a9c9621175a6f04804d0d192a787b0--neon-logo-sg-logo.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fjbbuchanan%2Fcoding-logo%2F&tbnid=_xDPIp-gcVffxM&vet=12ahUKEwiq5u6BxI3xAhWJSSsKHZCzCQQQMygAegUIARCzAQ..i&docid=7XcEZLTSaSU15M&w=236&h=177&q=cool%20%20logos%20f

[2021-06-10 16:58] ujju20 commented on #25
These are some logos which I found suitable
![image](https://user-images.githubusercontent.com/64632969/121566323-045cbd80-ca3b-11eb-874d-e885fca23074.png)
![image](https://user-images.githubusercontent.com/64632969/121566397-18082400-ca3b-11eb-8c9d-0b98d02eb2a3.png)
![image](https://user-images.githubusercontent.com/64632969/121566424-20605f00-ca3b-11eb-8f0c-2f19a64d23da.png)

[2021-06-10 17:00] ujju20 commented on #15
Can I also work on this?

[2021-06-10 17:47] honeybhardwaj commented on #25
@ujju20  try making them customize for the community. we can't take someone else logo just like that

[2021-06-11 02:22] ujju20 commented on #25
Ok, I will do that.

[2021-06-11 07:32] tegveersingh0 commented on #25
![dfadaf7e-b6da-466d-8251-a20528b81c9d](https://user-images.githubusercontent.com/75977256/121648414-1da25000-cab5-11eb-9c78-cbb7d36a83ff.jpg)

logo..

[2021-06-11 07:52] honeybhardwaj commented on #25
![C](https://user-images.githubusercontent.com/51120790/121651257-0b75e100-cab8-11eb-9674-fda599fd8f2f.png)
i have made this

[2021-06-12 10:57] Ayan-thecodeking commented on #15
hey @ujju20  what u want to add ...?

[2021-06-13 10:21] rohan-kulkarni-25 commented on #15
any update ?

[2021-06-17 18:39] Ayan-thecodeking opened #26 "add license"

[2021-06-18 11:08] niteshseram commented on #26
Can I work on this?

[2021-06-20 16:52] Ayan-thecodeking commented on #26
ya sure @niteshseram  but first u have to join our community coders evoke

[2021-06-20 17:01] Ayan-thecodeking commented on #26
https://discord.gg/FZusE7FH4q

[2021-06-20 17:14] niteshseram commented on #26
Ya sure @Ayan-thecodeking

[2021-06-20 17:40] Ayan-thecodeking commented on #26
Ok @niteshseram u can work now

[2021-06-20 18:01] niteshseram commented on #26
@Ayan-thecodeking which license are you guys planning to add to this project

[2021-06-21 05:30] Ayan-thecodeking commented on #26
@niteshseram mit will be good

[2021-06-21 06:06] niteshseram commented on #26
Okay, I will make a PR soon

[2021-06-21 06:09] ankitapuri commented on #15
Is this issue resolved ?

[2021-06-23 07:17] Sarthakjain594 commented on #15
This issue is already resolved @rohan-kulkarni-25 .

[2021-06-23 12:14] Sarthakjain594 opened #28 "Navbar Improvement"
heyy , Can I make some improvements in navbar design ?

[2021-06-30 07:01] #26 closed

[2021-06-30 07:15] rohan-kulkarni-25 opened #33 "Create A PR Template"
# Follow the Given Steps :-
<ul>
<li>Fork</li>
<li>In folder `.github` create a new file  ` PULL_REQUEST_TEMPLATE.md `</li>
<li>Paste the content from the  given link</li>
<li>Go to the link copy the RAW content and paste in the file</li>
<li>commit changes</li>
<li>Create PR</li>
</ul>

## Content 👇🏻
https://github.com/rohan-kulkarni-25/LGM-SOC/blob/main/.github/PULL_REQUEST_TEMPLATE.md

[2021-06-30 07:25] Anupam-Panwar commented on #33
Can i work on this issue

[2021-06-30 07:25] Sakalya100 commented on #33
Can I work on this issue please

[2021-06-30 07:32] Ayan-thecodeking opened #34 "Design a website for coders evoke using figma or in png format"

[2021-06-30 07:34] rohan-kulkarni-25 commented on #33
Yes go for it  !!

[2021-06-30 07:35] rohan-kulkarni-25 commented on #33
You can try if @Anupam-Panwar  unable to do it

[2021-06-30 07:35] rohan-kulkarni-25 commented on #33
@Anupam-Panwar  DEADLINE :- 7 PM Today

[2021-06-30 07:39] ankitapuri commented on #15
@rohan-kulkarni-25 if its done , then please close it

[2021-06-30 07:48] kriyanshishah commented on #33
Can I work on this issue?

[2021-06-30 07:50] kriyanshishah commented on #28
Can I work on Navbar design?

[2021-06-30 07:53] Ayan-thecodeking commented on #34
i'll be providing all the details ....

[2021-06-30 08:14] dilroseR commented on #28
assign it to me

[2021-06-30 08:31] Sakalya100 commented on #33
Yes sure

[2021-06-30 08:51] rohan-kulkarni-25 commented on #33
Please read the discussions

[2021-06-30 09:45] suvrashaw commented on #34
Interested

[2021-06-30 11:37] rohan-kulkarni-25 opened #36 "Edit About Info"
Add Proper information about Community and add  deployment link in that section add a few hashtags related to tech stack and also community

@Ayan-thecodeking  @Sanika2103  Anyone of you go for it !

![image](https://user-images.githubusercontent.com/76584243/123953920-69199100-d9c5-11eb-8628-41f3a4ae8f5c.png)

[2021-06-30 11:37] rohan-kulkarni-25 commented on #36
@Ayan-thecodeking @Sanika2103  Please have a look

[2021-06-30 11:37] #33 closed

[2021-06-30 14:30] Ayan-thecodeking commented on #36
sure @rohan-kulkarni-25

[2021-06-30 19:18] Ayan-thecodeking commented on #34
go ahead @suvrashaw

[2021-07-02 05:44] shivani248 commented on #28
can i improve navbar ?

[2021-07-02 16:56] #25 closed

[2021-07-02 16:58] Ayan-thecodeking commented on #28
hey @shivani248 @dilroseR @kriyanshishah  this issue is closed for now ..
if u want u can work on designing issue34

[2021-07-02 16:58] #28 closed

[2021-07-04 20:26] suvrashaw commented on #34
Can you provide me with more details regarding this? Will be easy if we connect on Whatsapp.

[2021-07-04 20:27] suvrashaw commented on #34
One of my friends also wants to contribute in design,.

[2021-07-04 20:27] kaustavr19 commented on #34
Interested.

[2021-07-05 03:25] inimitable034 commented on #34
Interested in solving this issue

[2021-07-05 08:24] Ayan-thecodeking commented on #34
sure @suvrashaw .....can u be able to work with team ?

[2021-07-05 08:26] Ayan-thecodeking commented on #34
for details join our discord  https://discord.gg/XMuEPgCj6y
and dm for details

[2021-07-05 08:27] Ayan-thecodeking commented on #34
@kaustavr19  @inimitable034  do u want to work in team ?

[2021-07-05 08:34] inimitable034 commented on #34
I would like to work as a team

[2021-07-05 08:47] Ayan-thecodeking commented on #34
ok sure @inimitable034  dm me for details

[2021-07-05 09:33] aishwaryas15 opened #37 "Creating mousemove background parallax effect"

[2021-07-05 12:47] kaustavr19 commented on #34
I would like to do so.

[2021-07-06 08:54] Ayan-thecodeking commented on #37
ok @aishwaryas15 go ahead ....and please share the ss of what u have done

[2021-07-06 08:55] Ayan-thecodeking commented on #34
@inimitable034 @kaustavr19  please join and dm me  https://discord.gg/XMuEPgCj6y

[2021-07-06 08:56] #15 closed

[2021-07-06 09:39] aishwaryas15 commented on #37
It's just a trial one i did for now
![Screenshot (74)](https://user-images.githubusercontent.com/62896706/124578699-12500380-de6c-11eb-9e02-41e17e3defcb.png)
![Screenshot (73)](https://user-images.githubusercontent.com/62896706/124578716-154af400-de6c-11eb-92c6-2c0a49084f82.png)
![Screenshot (72)](https://user-images.githubusercontent.com/62896706/124578740-1c720200-de6c-11eb-8920-a173014d395b.png

[2021-07-06 10:16] Ayan-thecodeking commented on #37
Ok @aishwaryas15...but try to make something unique attractive bg

[2021-07-07 07:01] Ayan-thecodeking opened #38 "Design a logo for Coders Evoke community"
The Logo should be professional ...
Logo represents coders Evoke community

[2021-07-07 10:29] anubhav201241 opened #40 "Suggestion"
**Describe the bug**
In your repository when clicking on your coders-evoke site it is not redirecting to your site please solve it :))

**To Reproduce**
Steps to reproduce the behavior:
Edit the repo and change that link with that link that is working

[2021-07-08 08:10] Ayan-thecodeking commented on #40
thnx @anubhav201241  for suggestion
:)

[2021-07-08 08:11] Ayan-thecodeking commented on #37
@aishwaryas15  done or not ?

[2021-07-08 18:55] anubhav201241 commented on #40
Welcome :)

[2021-07-10 05:41] #36 closed

[2021-07-10 11:19] #40 closed

[2021-07-10 11:37] Ayan-thecodeking commented on #34
hey @inimitable034  @suvrashaw  whats the status ??

[2021-07-10 18:58] inimitable034 commented on #34
Implemented new design .
trying to cover the prototype so that understanding the context is easy.

[2021-07-11 17:24] rishabhrathore055 commented on #38
pls assign this issue

[2021-07-12 05:40] swathi-469 opened #44 "CONTRIBUTION"
I would like to add contribution guidelines for beginners in open source in a form of contribution.md ..please assign this to me

[2021-07-12 07:48] Ritika-Agrawal811 commented on #37
Hey. Can I try something for this if it is not done yet?

[2021-07-12 08:10] souravseal99 opened #45 "Adding a Footer"
Tried to implement a basic footer section to the site.

here's the ss:
![image](https://user-images.githubusercontent.com/69809086/125252866-78c69d00-e316-11eb-8a21-434aee4c8c06.png)

[2021-07-12 08:20] Ayan-thecodeking commented on #34
ok @inimitable034 please update it soon

[2021-07-12 08:21] Ayan-thecodeking commented on #37
ya @Ritika-Agrawal811 go ahead ...after completing the task add ss in the PR

[2021-07-12 08:38] Ayan-thecodeking commented on #38
ya sure @rishabhrathore055

[2021-07-12 08:40] Ayan-thecodeking commented on #44
ya sure @swathi-469 .....but can mention what all are u going to add

[2021-07-12 08:44] Ayan-thecodeking commented on #45
hey @souravseal99 try to make it more attaractive

[2021-07-12 08:51] swathi-469 commented on #44
I would like to add step-by-step instructions along with resources, links, commands, and so on.

[2021-07-12 11:25] souravseal99 commented on #45
Sure @Ayan-thecodeking, do you want to suggest something? Like some more content to put or some assets or maybe any UI references.

[2021-07-12 12:05] ayushsoni1010 commented on #45
Heyy @Ayan-thecodeking👋

I want to work on this issue. Kindly assign me this under DCP'21
I will create an awesome footer.

[2021-07-12 12:17] souravseal99 commented on #45
Hi @ayushsoni1010 , I'm actually already working on this issue, under DCP'21. Let me please try for a while, and then I'll surely pass it on to you if I got stuck.

[2021-07-12 13:28] PranavKapoor28 opened #46 "Contact page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-12 13:30] ayushsoni1010 commented on #45
Sure @souravseal99
Go ahead :)

[2021-07-12 14:16] Ayan-thecodeking commented on #46
hey @PranavKapoor28 do u want to work on this issue ??

[2021-07-12 14:18] Ayan-thecodeking commented on #44
All right !!
 sure @swathi-469 do that

[2021-07-12 14:21] Ayan-thecodeking commented on #45
ok @souravseal99  just join our discord server and dm me ..i'll provide u more details there

[2021-07-12 14:35] PranavKapoor28 commented on #46
Yes I can create a contact page.

[2021-07-12 14:42] swathi-469 commented on #44
Thanks a lot

[2021-07-13 05:55] coding-geek21 opened #48 "Design Home page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to design home page

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2021-07-13 07:41] souravseal99 commented on #45
💯

[2021-07-13 10:02] Ayan-thecodeking commented on #46
ok @PranavKapoor28 go ahead

[2021-07-13 10:04] Ayan-thecodeking commented on #48
@coding-geek21 go ahead

[2021-07-13 12:59] rohan-kulkarni-25 opened #50 "Navbar Hover effect"
**Is your feature request related to a problem? Please describe.**

When we hover  over an element in the navbar then something effect should be seen for eg there can be hover effect below that element or the font size can be increased something like that

[2021-07-13 13:01] rohan-kulkarni-25 opened #51 "Adding Favicon as Coder's Evoke Logo"
**Is your feature request related to a problem? Please describe.**

Favicon can be added in website tab it can be coders evoke logo till the design gets  ready

[2021-07-13 19:11] RakeshCharpe commented on #50
I would like to work on this issue under DCP'21 .Please assign to me.

[2021-07-13 19:12] RakeshCharpe commented on #51
I would like to work on this under DCP'21 . Assign it to me

[2021-07-14 05:56] neelshah2409 commented on #50
Issue is assigned @RakeshCharpe Go forward!!

[2021-07-14 05:57] neelshah2409 commented on #51
You can go for this issue also but go after one by one issue at a time.

[2021-07-14 06:04] aakankshabhende opened #52 "Add bottom to top scroll button"
**Is your feature request related to a problem? Please describe.**
Will help users to get to the top of page easily

**Describe the solution you'd like**
Will add bottom to top scroll button

Please assign me this issue I would like to work on it

[2021-07-14 06:08] aakankshabhende commented on #9
Can you please guide me on this I want to work on this issue @rohan-kulkarni-25

[2021-07-14 06:10] lipiseth commented on #38
I would like to work on this

[2021-07-14 06:11] lipiseth commented on #51
I would like to work on this issue

[2021-07-14 06:12] HarshitPandey251 commented on #51
I also want to contribute

[2021-07-14 06:26] Ayan-thecodeking opened #53 "add contribution.md link to the readme"
just add it after notice

[2021-07-14 06:45] neelshah2409 commented on #52
@aakankshabhende go ahead!!
But please give a short detail about it and it is under DCP'21 ?

[2021-07-14 06:54] Ayan-thecodeking commented on #38
ya sure @lipiseth go ahead

[2021-07-14 06:57] aakankshabhende commented on #53
Can I work on this issue @Ayan-thecodeking

[2021-07-14 06:59] aakankshabhende commented on #52
Yes, I am DCP'21 participant
I want to add this button in the lower right end for the convenience of the users so they can easily scroll up from bottom

[2021-07-14 07:33] Ayan-thecodeking commented on #53
sure @aakankshabhende go ahead

[2021-07-14 07:36] Ayan-thecodeking commented on #53
and just create a different branch while making a PR

[2021-07-14 09:50] lipiseth commented on #38
@Ayan-thecodeking I would like you to review some samples of the logo I created for the assigned issue and let me know how to proceed further, also I have specifically used the color scheme mentioned in the readme.md

1.) ![CodeEvokersLogo](https://user-images.githubusercontent.com/70437135/125601606-67a614c5-c084-40d7-a6ac-be86981c2cb0.png)

2.)  https://user-images.githubusercontent.com/70437135

[2021-07-14 14:22] #48 closed

[2021-07-14 14:23] #53 closed

[2021-07-14 14:30] Ayan-thecodeking opened #56 "Create about us page for Coders Evoke"
Kindly mention your creative ideas and views here( what are the details we can add in about us section ) and for more further details regarding coders evoke Dm me ...

[2021-07-14 15:08] swathi-469 commented on #44
I am part of DevIncept

[2021-07-14 15:24] ayushsoni1010 commented on #45
Heyy @souravseal99 👋

Hope you're doing great!!!
Did you made the footer again, let me know if you're working or not
Else @Ayan-thecodeking you can assign me this issue, By the way, I have resolved the issue and made a fantastic footer.
Hope you like it :)
Thanks✨

[2021-07-14 15:25] Ayan-thecodeking opened #57 "Add responsiveness is Home page"

[2021-07-14 16:38] honeybhardwaj commented on #57
i would like to work on it @Ayan-thecodeking . please assign it to me under dcp21

[2021-07-14 16:41] honeybhardwaj opened #58 "Improvement in navbar"
Current navbar have issues with the color combination , space and also when it gets in mobile view the color clashes with the main image. i would like to work on this.

[2021-07-14 18:26] Ayan-thecodeking commented on #57
sure @honeybhardwaj go ahead

[2021-07-14 18:27] Ayan-thecodeking commented on #58
ok @honeybhardwaj  update that

[2021-07-15 04:03] souravseal99 commented on #45
That's great !! @ayushsoni1010 . In that case, drop a message in community server's devincept channel in discord.  We can have a discussion with our admin about this.
I was actually looking for a reference as instructed by our admin.

cc: @Ayan-thecodeking

[2021-07-15 04:27] ayushsoni1010 commented on #45
I had already that talked to him :)
Alright I m about to make a PR just waiting for your answer that you are  working or not?

[2021-07-15 05:43] #52 closed

[2021-07-15 06:48] ri-tae-ka opened #60 "Add 404 Page"
I would like to add a error 404 page to the website.
Please assign me this issue.

[2021-07-15 07:35] Naman-mahi commented on #60
Sir please can you assign me

[2021-07-15 08:52] neelshah2409 commented on #60
@ri-tae-ka Go ahead !! And it is under DCP'21??

[2021-07-15 09:19] ri-tae-ka commented on #60
Yes it is. Thanks for allowing me to work on this issue.
Kindly label it under Devincept.

[2021-07-15 09:51] RakeshCharpe commented on #51
@neelshah2409 Is logo is finalised ? If yes then upload it So as per logo I will add favicon .

[2021-07-15 09:55] Ayan-thecodeking commented on #51
hey @RakeshCharpe logo is not updated yet ..I'll let u know soon

[2021-07-15 09:56] Ayan-thecodeking commented on #51
hloo @HarshitPandey251 @lipiseth there are more issues where u can contribute have a look there :)

[2021-07-15 09:58] RakeshCharpe commented on #51
Sure

[2021-07-15 09:59] #44 closed

[2021-07-15 10:01] Ayan-thecodeking commented on #45
@souravseal99 let me know what are the issues u have ??

[2021-07-15 10:03] RakeshCharpe commented on #56
In About Us section we can add our team members and their bio , a short para of organisation ,  some images of organisation or work culture , at last newsletter and updates section and social media handles links. If you like my ideas then I would like to work on this issue under DCP'21.

[2021-07-15 10:07] Ayan-thecodeking commented on #56
ok cool @RakeshCharpe go ahead ...well add some illustrations pictures and just give color combinations related to our home page ...for more details join our discord server and dm me

[2021-07-15 10:08] RakeshCharpe commented on #56
Ok

[2021-07-15 16:39] souravseal99 commented on #45
The UI references, that I had searched was not going well with the color scheme of the site, plus I was wondering, if you have something specific in mind, about the contents of the footer.
please let me know, if you liked the design proposed by @ayushsoni1010 .

[2021-07-15 16:42] souravseal99 commented on #45
No problem, if you have already  figured it out, then you can make the PR,  after @Ayan-thecodeking assigns you the issue.

[2021-07-15 18:37] #50 closed

[2021-07-16 09:32] AnirudhPanda opened #62 "Add a Favicon"
Favicon on a website makes it neat and complete

[2021-07-16 09:34] AnirudhPanda opened #63 "Two Navbar Overlapping"
![issue](https://user-images.githubusercontent.com/66218496/125926734-d1e56821-94e9-41ad-9398-94e4da04409e.PNG)

[2021-07-16 09:34] #62 closed

[2021-07-16 09:47] AnirudhPanda opened #65 "Scroll to top button should come at midway or end of page"
**Describe the bug**
The Scroll to top button should remain hidden on the main page unless the user scrolls

[2021-07-16 12:04] neelshah2409 commented on #65
@AnirudhPanda Go ahead !!

[2021-07-16 12:06] neelshah2409 commented on #63
@AnirudhPanda You can see the issue #58 and go for that .

[2021-07-16 13:17] #60 closed

[2021-07-16 13:21] #45 closed

[2021-07-16 13:31] Ayan-thecodeking commented on #63
hey @AnirudhPanda plz update it ASAP ...till tomorrow by 12 noon is it possible ?? let me know

[2021-07-16 13:52] AnirudhPanda commented on #65
#69

[2021-07-16 14:15] #63 closed

[2021-07-16 14:16] Ayan-thecodeking commented on #65
thanks @AnirudhPanda ...keep contributing :)

[2021-07-16 14:16] #65 closed

[2021-07-16 16:44] ayushsoni1010 commented on #46
Heyy @Ayan-thecodeking 👋

As I have seen it's been 3days till now, no response and updates from @PranavKapoor28
So I would like to work on this issue, Kindly assign me this issue under DCP'21.

Let me know @PranavKapoor28 if you're working or not, if you're working on it, that's alright :)
else @Ayan-thecodeking you can assign me

Thanks✨

[2021-07-16 19:16] Dhruv-194 opened #71 "Create and design the entire 'Project Section'"
**Is your feature request related to a problem? Please describe.**
There is no 'Project Page' on the website as of yet.

**Describe the solution you'd like**
I would like to create and design the 'Project Section' of this website which follows the homepage theme.

**Additional context**
I am thinking of using basic HTML,CSS and JavaScript to create this section. I will be using cards to display al

[2021-07-17 04:46] Ayan-thecodeking commented on #71
hey @Dhruv-194 would u like to work on this ??

[2021-07-17 04:48] Ayan-thecodeking opened #73 "design home page for coders evoke"

[2021-07-17 04:52] Ayan-thecodeking commented on #57
hey @honeybhardwaj  do let me know about updates ??

[2021-07-17 04:58] PranavKapoor28 commented on #46
@ayushsoni1010
I am working on it, I was not well for the past 2 days due to vaccine so couldn't work on it. But I will complete it.

You can ask @Ayan-thecodeking to give you some other issue.

[2021-07-17 05:43] Dhruv-194 commented on #71
Yes @Ayan-thecodeking I would definitely like to work on this.
Kindly please assign me this issue!

[2021-07-17 05:50] Ayan-thecodeking commented on #71
@Dhruv-194 go ahead ....just keep it mind that design the other sections related to the home page what we have and do this ASAP

[2021-07-17 06:37] ayushsoni1010 commented on #46
Oh okay!
Get well soon @PranavKapoor28

Sure, Go ahead!

[2021-07-17 06:42] ayushsoni1010 commented on #57
Heyy @Ayan-thecodeking @honeybhardwaj 👋

Honey, I would like to know about the status of your work.
If you're working on it, then go ahead
else Ayan, you can assign me this issue, I would like to work on this issue

Thanks✨

[2021-07-17 08:20] PranavKapoor28 commented on #46
@Ayan-thecodeking I have made the changes but i cannot add in this repo , as it is showing no that there is no change .

What should i do?

[2021-07-17 09:01] suvrashaw commented on #73
Completed this task.

[2021-07-17 14:08] #57 closed

[2021-07-17 14:09] Ayan-thecodeking opened #79 "Remove the blur effect from navbar just add hover effect"

[2021-07-17 14:11] Ayan-thecodeking commented on #51
hey @RakeshCharpe u can add the logo of coders evoke what we have now ??? can u

[2021-07-17 14:13] Ayan-thecodeking commented on #38
hey @lipiseth it is too unprofessional and simple ...we are looking for something like catchy and unique logo...if u want u can try

[2021-07-17 14:16] lipiseth commented on #38
@Ayan-thecodeking sure , I will try my best

[2021-07-17 14:17] Ayan-thecodeking commented on #56
any updates @RakeshCharpe

[2021-07-17 15:03] Ayan-thecodeking commented on #46
hey @PranavKapoor28  Im not getting what issue u are facing ...dm me lets have a meet on our discord server ..if ur issue is not resolved yet

[2021-07-17 15:22] deek121477 commented on #79
I can work on this issue

[2021-07-17 15:24] Ayan-thecodeking commented on #79
ya sure @deek121477 go for it....when u will make PR attach ss

[2021-07-17 18:36] RakeshCharpe commented on #51
Ok I will...

[2021-07-17 18:37] RakeshCharpe commented on #56
Yes half work is done ,

[2021-07-18 05:59] Ayan-thecodeking commented on #58
hey @honeybhardwaj any updates ??

[2021-07-18 06:00] #73 closed

[2021-07-18 06:00] Ayan-thecodeking commented on #56
okh

[2021-07-18 06:01] #37 closed

[2021-07-18 06:04] Ayan-thecodeking opened #82 "create events page for coders Evoke"
for more details DM in on slack or linkdin

[2021-07-18 06:08] Ayan-thecodeking opened #83 "create a opportunities page for coders evoke"
Design a page related to our home page and add some illustrations images ,use your creativity and design

[2021-07-18 06:46] deek121477 commented on #83
I can work on this issue

[2021-07-18 08:41] Ayan-thecodeking commented on #83
ya sure @deek121477 ..but plz add the files in their respective positions
go ahead :)

[2021-07-18 10:28] deek121477 commented on #83
Okay

[2021-07-18 16:10] niteshseram opened #86 "Spelling mistake in Navbar"
**Describe the bug**
In Navbar, _Opportunities_ nav item is misspelled

**Screenshots**
![issue](https://user-images.githubusercontent.com/51370246/126074318-c96cf7b4-9bc1-4423-ad79-6b510c4a5639.JPG)

[2021-07-18 17:08] MukulKolpe commented on #86
@niteshseram , can I solve this issue?

[2021-07-19 02:54] Amrutha1101 commented on #82
Can I work on this issue under DCP'21??

[2021-07-19 06:17] Ayan-thecodeking commented on #86
hey @niteshseram go ahead !! update it ASAP
and @MukulKolpe look for other issues

[2021-07-19 06:18] Ayan-thecodeking commented on #82
ya sure @Amrutha1101 go ahead and kindly update it ASAP

[2021-07-19 06:19] Ayan-thecodeking commented on #79
@deek121477 updates ??

[2021-07-19 06:21] #79 closed

[2021-07-19 06:29] Ayan-thecodeking opened #89 "add admin section in readme"
Just add it below color Scheme for website
happy contributions :)

[2021-07-19 06:49] Ayan-thecodeking opened #91 "Add coders evoke logo in the navbar section"
![coders evoke 3](https://user-images.githubusercontent.com/78692566/126115321-c2c2cb9e-1710-4c17-b832-183eaaeb77ad.jpeg)

and add it in this way
![WhatsApp Image 2021-07-18 at 10 59 38 AM](https://user-images.githubusercontent.com/78692566/126115374-b9398b3d-ba52-4b27-8d1f-4bbdf259bd16.jpeg)

[2021-07-19 07:06] Ayan-thecodeking opened #93 "Add footer section and in contact us page"

[2021-07-19 07:07] Ayan-thecodeking commented on #9
@rohan-kulkarni-25 please help here :)

[2021-07-19 07:09] Ayan-thecodeking opened #94 "Add over all responsiveness in the website"

[2021-07-19 07:14] #46 closed

[2021-07-19 08:20] #51 closed

[2021-07-19 09:06] shindesuyog commented on #93
I would like to work on it, Should be similar to the home page or I can customise it.

[2021-07-19 13:18] SarveshLimaye commented on #91
@Ayan-thecodeking would like to work on this issue. Could you pls assign me the issue. I am contributor from devincept.

[2021-07-19 13:23] souravseal99 commented on #94
I would like to work on this.

[2021-07-19 17:48] Amrutha1101 commented on #82
I've pinged in slack.

[2021-07-19 19:10] Ayan-thecodeking commented on #93
ya sure @shindesuyog go ahead ...add footer and make it responsive ....and u are free to customize the contact us page
add some cool stuffs

[2021-07-19 19:10] Ayan-thecodeking commented on #93
and if u want illustrations image then ask me ill send u

[2021-07-19 19:11] Dhruv-194 commented on #89
I would like to work on this but what exactly do I need to write or add in that section?

[2021-07-19 19:11] Ayan-thecodeking commented on #91
ya sure @SarveshLimaye go ahead

[2021-07-19 19:14] Ayan-thecodeking commented on #94
sure @souravseal99 go ahead ....update it ASAP
and u are free to share ur ideas ,like what we can add more

[2021-07-19 19:15] Ayan-thecodeking commented on #89
@Dhruv-194 you have to add my profile under admins section with my handles

[2021-07-19 19:16] #86 closed

[2021-07-19 19:17] Dhruv-194 commented on #89
got it! Can you please share with me all your social media handles I will add it

[2021-07-19 19:17] #71 closed

[2021-07-19 19:17] #58 closed

[2021-07-19 19:18] #34 closed

[2021-07-19 19:19] Ayan-thecodeking commented on #83
hey @deek121477 any updates ...let me know if u want details , like what we provide

[2021-07-19 19:20] Ayan-thecodeking commented on #82
yup @Amrutha1101 replied

[2021-07-19 20:20] pushpakumari5117 opened #95 "TEAM PAGE"
**DESCRIPTION :**
I want to design the TEAM PAGE OF CODERS EVOKE Website.

**FEATURES :**
- Image of each team member with their name and designation.
- Will be displayed in the form of Cards UI
- (optional) message/quote from each team member can be added with their image and name.

**You can also suggest some changes to this idea.**

[2021-07-20 02:37] deek121477 commented on #83
Due I have to add navbar that is present in index.html

[2021-07-20 03:19] Ayan-thecodeking commented on #83
Yes @deek121477

[2021-07-20 05:33] neelshah2409 commented on #95
@pushpakumari5117 Go ahead. Just keep on thing in mind to make the theme similar to home page or whole website.

[2021-07-20 07:00] Ayan-thecodeking commented on #95
hey @neelshah2409 this issue is already created by me #82 look ,
hey @pushpakumari5117 let her make a PR  after u can update according to you , got it ??

[2021-07-20 07:02] Ayan-thecodeking commented on #89
@Dhruv-194 u will find all my handles in my github profile ,frm there u can take just add twitter and linkdin

[2021-07-20 07:03] Ayan-thecodeking commented on #83
hey @deek121477 any updates ?? let me know if u have any queries

[2021-07-20 07:13] souravseal99 commented on #94
💯
can I use bootstrap to make this process fast ? @Ayan-thecodeking

[2021-07-20 07:29] Ayan-thecodeking commented on #94
@souravseal99 our priority is css ...if u are ok with css then plzz do it with css only ...take some more time ...or if u are using bootstrap just make sure that  it does not effect our existing code
It's ur call now

[2021-07-20 07:30] deek121477 commented on #83
Working on it
When I have to submit this?

[2021-07-20 07:30] Ayan-thecodeking commented on #83
Do it ASAP @deek121477  ...by tomorrow if possible

[2021-07-20 07:40] souravseal99 commented on #94
sure @Ayan-thecodeking , no problem. I'll make use of css then.

[2021-07-20 07:46] pushpakumari5117 commented on #95
@Ayan-thecodeking The issue you mentioned is regarding the Events Page. Is the Team page and Events page the same?

[2021-07-20 07:53] deek121477 commented on #83
Can I submit it by 22nd ?

[2021-07-20 09:41] Ayan-thecodeking commented on #83
Sure @deek121477 take ur time make it responsive

[2021-07-20 10:14] AnirudhPanda opened #96 "Fix Horizontal Scrollbar"

[2021-07-20 10:24] deek121477 commented on #83
Yeah sure.Thank you

[2021-07-20 17:32] Aditya-619 commented on #91
Please assigned me, I pretty interested to fix this issue.

[2021-07-20 18:02] maitridshah opened #97 "Remove blur effect in navbar"
clicking Opportunities, events and team button it shows blurred navbar. Please assign me this under DCP'21

[2021-07-20 18:40] Ayan-thecodeking commented on #97
hey @maitridshah we have already resolved that issue ...u can look for other issue :)

[2021-07-20 18:45] #97 closed

[2021-07-20 18:47] Ayan-thecodeking commented on #95
so sorry @pushpakumari5117 go ahead ...and plz design the page related to home page what we have ...
make it responsive

[2021-07-20 18:49] Ayan-thecodeking opened #99 "Add mentors section in Readme"
add it below admin section

[2021-07-20 19:02] Ayan-thecodeking commented on #96
@AnirudhPanda can u describe what u want to add ??

[2021-07-21 05:06] Dexters-Hub commented on #99
Hey @Ayan-thecodeking If you wouldn't mind I would like to work on this 😄

[2021-07-21 05:50] neelshah2409 commented on #99
@Dexters-Hub Go ahead !!

[2021-07-21 05:53] Dexters-Hub commented on #99
Thanks 😃  @neelshah2409 Just need the details of the mentors (Name, What they focus on teaching, social handles)

[2021-07-21 09:08] Ayan-thecodeking opened #102 "Add transition in navbar anchor tags"
Box one in hover effect

[2021-07-21 09:09] Ayan-thecodeking opened #103 "Add backend in contact us page"

[2021-07-21 09:23] #89 closed

[2021-07-21 12:06] Ayan-thecodeking commented on #99
hey @Dexters-Hub mentors are @neelshah2409 @abhiisinghh7 u can check their profiles for socials and just add their linkdin profiles

[2021-07-21 12:08] Ayan-thecodeking commented on #95
@pushpakumari5117 have u started ??

[2021-07-21 12:08] Ayan-thecodeking commented on #94
hey @souravseal99 any updates ??

[2021-07-21 12:09] Ayan-thecodeking commented on #93
@shindesuyog any updates ??

[2021-07-21 12:09] #91 closed

[2021-07-21 12:10] Ayan-thecodeking commented on #56
hey @RakeshCharpe any updates ??

[2021-07-21 12:10] #38 closed

[2021-07-21 12:32] pushpakumari5117 commented on #95
@Ayan-thecodeking Not yet....today only you gave me permission to work on that...so I haven't started yet.

[2021-07-21 13:33] Ayan-thecodeking commented on #95
Yup @pushpakumari5117 no issues ...u can start now

[2021-07-21 14:08] Dexters-Hub commented on #99
- [x] Added Mentor's name and LinkedIn Profile

![Screenshot (684)](https://user-images.githubusercontent.com/47777599/126502151-db98b2e1-621d-4937-a88f-014fa730bd1c.png)

Should I make a Pull-Request? @neelshah2409 @Ayan-thecodeking

[2021-07-21 14:54] Ayan-thecodeking commented on #99
Hey @Dexters-Hub can u align admin image section in center ...and after make a PR

[2021-07-21 15:00] dilroseR commented on #102
can i know more about this?

[2021-07-21 18:10] Ayan-thecodeking commented on #102
hey @dilroseR just search in google how transition hover effect works and try to implement ...u are also free to do any customization if you have any better idea ...would u like to work on this

[2021-07-21 18:58] dilroseR commented on #102
i would like to give it a try

[2021-07-21 19:23] Ayan-thecodeking commented on #102
Go ahead @dilroseR

[2021-07-22 06:44] mayank-wadhwa-git commented on #96
I would like to work on it. Can you assign this to me?

[2021-07-22 07:00] Ayan-thecodeking commented on #96
Sure @mayank-wadhwa-git go ahead ...and add ss before making a PR

[2021-07-22 07:11] mayank-wadhwa-git commented on #96
assign it to me. I will add ss before PR

[2021-07-22 07:20] souravseal99 commented on #94
yes @Ayan-thecodeking , I've almost completed the top section of the site, the footer and body is yet to be done.

[2021-07-22 09:09] Ayan-thecodeking commented on #82
@Amrutha1101 added more images ...check in assets<newimages

[2021-07-22 16:10] deek121477 commented on #83
I have completed half of its work. Half will be done by tomorrow.

[2021-07-22 18:49] #102 closed

[2021-07-22 18:50] Ayan-thecodeking commented on #96
yup @mayank-wadhwa-git go ahead

[2021-07-22 18:51] Ayan-thecodeking commented on #83
sure @deek121477

[2021-07-22 18:54] #23 closed

[2021-07-22 18:55] #9 closed

[2021-07-23 04:42] jigar-sable commented on #103
As PHP, AJAX or [PHPMailer](https://github.com/PHPMailer/PHPMailer) will not work on GH Pages. I think it would be better to use JS Library such as [EmailJS](https://www.emailjs.com/) to send mails after form submission.

Let me know if using EmailJS I'll integrate it, you just have to change few credentials later.

[2021-07-23 06:00] #99 closed

[2021-07-23 07:27] mayank-wadhwa-git commented on #96
Check it once, Should I PR??

Before fixing
![not fixed](https://user-images.githubusercontent.com/68892762/126749950-1244980b-5fff-44c3-95fa-20005dbd77b3.png)
After fixing
![fixed](https://user-images.githubusercontent.com/68892762/126749961-357b81e6-74c4-4e62-ac47-00c922226e86.png)

[2021-07-23 08:26] Ayan-thecodeking commented on #96
Ya sure @maya

[2021-07-23 11:21] #82 closed

[2021-07-23 11:24] Ayan-thecodeking commented on #103
ya sure @jigar-sable it will be good for now ....would u like to work on this ??

[2021-07-23 11:25] #96 closed

[2021-07-23 11:25] Ayan-thecodeking commented on #95
any updates @pushpakumari5117

[2021-07-23 11:28] Ayan-thecodeking opened #111 "Add more sections on home page"
Implement your ideas in home page to make it attractive

[2021-07-23 11:32] Ayan-thecodeking commented on #93
ok @shindesuyog

[2021-07-23 11:35] Ayan-thecodeking opened #112 "Remove blur effect from contact page navbar"
Add hover effect same what we have in home page

[2021-07-23 11:39] Ayan-thecodeking opened #113 "add coders evoke logo on events page"

[2021-07-23 11:40] jigar-sable commented on #103
@Ayan-thecodeking Yeah, I would like to work on this. Assign me.

[2021-07-23 11:43] Ayan-thecodeking opened #114 "Add effects on events page"
like hover effects or transitions effects on hackathon boxes and read more button

[2021-07-23 11:47] Ayan-thecodeking commented on #103
sure @jigar-sable

[2021-07-23 11:54] pushpakumari5117 commented on #95
@Ayan-thecodeking I am working on it.

[2021-07-23 13:20] deek121477 commented on #83
![oppo1](https://user-images.githubusercontent.com/67088622/126787523-1690643d-76a7-4ce9-8961-7b388c0ba0c4.PNG)
![oppo2](https://user-images.githubusercontent.com/67088622/126787530-e6722ab5-62f0-4db4-b6bc-808a3aa0938b.PNG)
![oppo3](https://user-images.githubusercontent.com/67088622/126787532-5dceb719-ee01-4b10-b9dc-4db425f45904.PNG)
![oppo4](https://user-images.githubusercontent.com/67088622/1267

[2021-07-23 13:24] ishan-pf opened #115 "the border radius of the header is too much"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-23 13:28] deek121477 commented on #83
Opportunities spelling would be changed

[2021-07-23 13:43] Anupam-Panwar commented on #112
I would like to work on this issue

[2021-07-23 13:44] Anupam-Panwar commented on #113
I would like to work on this issue

[2021-07-23 13:53] Anupam-Panwar commented on #114
I would like to work on this issue

[2021-07-23 16:01] Ayan-thecodeking commented on #115
ok @ishan-pf update it ...and add ss before making PR

[2021-07-23 16:26] yashsehgal opened #117 "header logo on home page has issues"
**Describe the bug**
The header logo on the home page has issues, on hovering on it, a rectangular shape is coming on the screen, maybe it's a CSS-related issue.

![image](https://user-images.githubusercontent.com/62352288/126812485-1519be30-6fd8-4a88-b7ee-4a10e2db20c9.png)
Please look into this :D

[2021-07-23 16:54] maitridshah commented on #112
I raised it before, opportunities and events also have same issue. Please assign me this under DCP'21

[2021-07-23 17:12] Ayan-thecodeking commented on #117
ya @yashsehgal  ...would u like to update it

[2021-07-23 17:14] Ayan-thecodeking commented on #114
sure @Anupam-Panwar go ahead ...after updating add SS or a clip

[2021-07-23 17:15] Ayan-thecodeking commented on #113
ya sure @Anupam-Panwar go ahead ....update it ASAP ....take a reference from home page

[2021-07-23 17:17] Ayan-thecodeking commented on #112
ya @Anupam-Panwar go ahead ...update contact page

[2021-07-23 17:18] Ayan-thecodeking commented on #112
@maitridshah ok ...plz make a another issue for opportunities page iIll assign you

[2021-07-23 19:08] maitridshah opened #118 "Blur effect in opportunities and events in nav bar"
Removing blur effect from opportunities and events in nave bar. Under DCP'21

[2021-07-24 04:49] Shubh14Jain opened #119 "Changes In footer"
![image](https://user-images.githubusercontent.com/33178665/126857589-f2fc45d7-c4e1-4676-ba20-723f2b9fdda4.png)

**Problem Statement**
In the footer section  links part showing  underlines and blue color and in follow us part need to change the design of background effect and Font text.

**Solution :**
As I select red part. I would like to make Both Links part and Follow part Similar With same bac

[2021-07-24 06:21] Ayan-thecodeking commented on #118
@maitridshah go ahead ...update it ASAP

[2021-07-24 06:23] Ayan-thecodeking commented on #119
ya sure @Shubh14Jain go ahead ...update it ASAP

[2021-07-24 06:33] Ayan-thecodeking commented on #119
make sure u don't effect the responsiveness

[2021-07-24 07:46] inimitable034 commented on #111
I have added a floating Social-network element which on hover splits into 3 similar balls containing the link to coders-evoke social handles.
Please assign me this issue.
I will upload it by evening.

[2021-07-24 07:48] Ayan-thecodeking commented on #111
ya sure @inimitable034 .....add one ss or clip before making PR and make it responsive

[2021-07-24 07:51] inimitable034 commented on #111
https://user-images.githubusercontent.com/71227590/126861624-71f8a16c-0a98-4e66-b2e7-885f39e9757a.mp4

[2021-07-24 07:53] inimitable034 commented on #111
I have corrected the background image fault of the logo too.

[2021-07-24 08:18] Ayan-thecodeking commented on #111
U hv added this in navbar ?? @inimitable034

[2021-07-24 08:20] inimitable034 commented on #111
no sir
its not a nav bar element.
this is present below the nav bar as a separate section

[2021-07-24 09:53] Ayan-thecodeking commented on #111
Ok make a PR

[2021-07-24 09:56] maitridshah commented on #118
The contact us page has problem in nav bar and navigation from that cause blur effect in other buttons.

[2021-07-24 09:56] #118 closed

[2021-07-24 10:07] inimitable034 commented on #117
I have updated the code sir on the sam issue which i solved for the #111
Now that red background on hover has been removed.
The nav-bar now looks clean.

[2021-07-24 10:08] #103 closed

[2021-07-24 17:00] inimitable034 commented on #111
PR requested sir,

[2021-07-24 19:01] #113 closed

[2021-07-24 19:17] #119 closed

[2021-07-24 19:20] #112 closed

[2021-07-24 19:21] Ritwik880 commented on #115
Hey @ishan-pf are u working on this issue??

[2021-07-24 19:22] Anupam-Panwar commented on #114
@Ayan-thecodeking This issue has already been resolved by @Ritwik880
Should I improve it or leave this issue

[2021-07-24 19:28] Ayan-thecodeking commented on #117
hey @yashsehgal ...remove that bg on hover from both home and events page

[2021-07-24 19:29] Ritwik880 commented on #117
Hey @Ayan-thecodeking is this issue solved?

[2021-07-24 19:30] Ayan-thecodeking commented on #95
let me know @pushpakumari5117 when u are going to make a PR

[2021-07-24 19:30] aditya687 commented on #93
I would like to work upon this issue. Please assign me this to improve footer section and contact us page @Ayan-thecodeking

[2021-07-24 19:31] Ayan-thecodeking commented on #56
hey @RakeshCharpe let me know ...are u working or not ??

[2021-07-24 19:32] aditya687 commented on #56
Please assign me the issue @Ayan-thecodeking  to improve the about page.

[2021-07-24 19:34] Ayan-thecodeking commented on #83
hey @deek121477 ...please update the repo that u have forked on ur local and then make  a PR ...Design is good ...just add the logo, other is allright

[2021-07-24 19:36] Ayan-thecodeking commented on #93
hey @aditya687 just create another issue for improvement is contact page i'll assign u

[2021-07-24 19:37] #111 closed

[2021-07-24 19:40] ishan-pf commented on #115
Yes

[2021-07-24 19:48] RakeshCharpe commented on #56
My exams goes on that's why i am unable to work on this issue .

[2021-07-24 19:49] RakeshCharpe commented on #56
My exams goes on that's why I am unable to work on this issue.

[2021-07-25 04:42] shreyshreyansh opened #127 "Stretchy image on contact page"
![lok](https://user-images.githubusercontent.com/53744971/126887997-1591b333-b78d-4889-8a62-2843742ce9a8.png)

[2021-07-25 04:52] shreyshreyansh opened #129 "Problem with logo on hover"
Hovering over the logo, creates a background color for the logo

![lok2](https://user-images.githubusercontent.com/53744971/126888139-680311ac-ac27-40d4-bdc2-9e5cc9f47070.png)

[2021-07-25 08:47] #129 closed

[2021-07-25 08:54] Ayan-thecodeking opened #132 "Fix events page logo"

[2021-07-25 08:55] #127 closed

[2021-07-25 08:55] Ritwik880 commented on #132
Hey @Ayan-thecodeking am working on it.

[2021-07-25 08:56] #117 closed

[2021-07-25 08:56] Ayan-thecodeking opened #133 "Add logo on contact us page"

[2021-07-25 08:57] #56 closed

[2021-07-25 08:58] Ayan-thecodeking opened #134 "Create about us page for Coders Evoke"
IF u want to work on this issue ....then u have to make a about us page ,just design it related to home page and don't add any details just design a demo page and make a PR  and for more details DM me

[2021-07-25 12:18] Ritwik880 commented on #134
I am working on this @Ayan-thecodeking

[2021-07-25 17:20] #94 closed

[2021-07-25 17:24] Ayan-thecodeking commented on #134
Hey @Ritwik880 make some thing good ...interactive designn

[2021-07-25 17:49] #133 closed

[2021-07-25 17:50] Ayan-thecodeking commented on #83
hey @deek121477 plz make a pr again

[2021-07-25 17:53] Ayan-thecodeking opened #137 "Issue in contact us page"
![Screenshot (22)](https://user-images.githubusercontent.com/78692566/126908481-80bf1008-61b1-444b-b8ce-bf6df9a237d8.png)

[2021-07-25 17:55] Ayan-thecodeking opened #138 "Add coders evoke favicon in every page other than home pge"

[2021-07-25 17:57] Ayan-thecodeking opened #139 "Design about us page for coders Evoke"
![Screenshot (23)](https://user-images.githubusercontent.com/78692566/126908611-9b4a0b3e-2c0a-4e0b-bfd1-a92394e39bb8.png)

[2021-07-25 17:58] #134 closed

[2021-07-25 17:59] #132 closed

[2021-07-25 17:59] Ayan-thecodeking commented on #114
ya @Anupam-Panwar improve it ...u your way

[2021-07-25 18:10] Shubh14Jain commented on #139
I would like to work on this page

[2021-07-26 03:15] Shubh14Jain commented on #138
I would like to add favicon in Code-Evoke website.

[2021-07-26 03:50] dilroseR commented on #137
can i know what is the issue?

[2021-07-26 04:08] Ayan-thecodeking commented on #139
ya @Shubh14Jain go ahead

[2021-07-26 04:09] Ayan-thecodeking commented on #138
ok @Shubh14Jain update it ASAP

[2021-07-26 04:16] #137 closed

[2021-07-26 05:09] #114 closed

[2021-07-26 08:42] ishan-pf opened #146 "adding responiveness to the mobile and tablet version"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-26 08:51] deek121477 commented on #83
Okay

[2021-07-26 16:43] Nicks-tech opened #147 "aded image"

[2021-07-26 16:46] #147 closed

[2021-07-27 06:17] #115 closed

[2021-07-27 08:07] Ayan-thecodeking commented on #146
hey @ishan-pf which page u want to add responsiveness let me know

[2021-07-27 08:08] Ayan-thecodeking commented on #139
hey @Shubh14Jain let me know u are working or not

[2021-07-27 08:10] Ayan-thecodeking commented on #83
its ok @deek121477 no need to do  that...thanks for ur contributions  ...
hope u will contribute agian

[2021-07-27 08:11] #83 closed

[2021-07-27 08:12] Ayan-thecodeking opened #150 "Re Design about us page for Coders Evoke"

[2021-07-27 08:15] Shubh14Jain commented on #139
Hello @Ayan-thecodeking I am working on about page

[2021-07-27 08:16] Ayan-thecodeking opened #151 "Design a simple footer for other pages"
Design a simple footer for other pages ( leave what we have on home page )

[2021-07-27 08:59] PrakharSahu02 opened #152 "Navbar issue"
In the navbar, the navigation button does not work. They do not navigate to the right page.
at the homepage, about us, opportunities other pages are navigated but after going to that page homepage and some also not navigate.
fix that issue so you can navigate any page from home, about, and all others.....

[2021-07-27 09:00] PrakharSahu02 commented on #152
I can solve this issue

[2021-07-27 09:13] ishan-pf commented on #146
Adding responsiveness to the home page for mobile & tablet version

[2021-07-27 11:06] mayank-wadhwa-git opened #153 "Add a Custom Scroll Bar"
**Is your feature request related to a problem? Please describe.**
We can add a custom scroll bar in the website which will be of same color as of webpage which can make a good impression.

**Describe the solution you'd like**
I would Like to add the scroll bar

[2021-07-27 17:51] Ayan-thecodeking commented on #152
ok @PrakharSahu02 go ahead

[2021-07-27 17:53] Ayan-thecodeking commented on #153
let me know what u want to add ?? clearly

[2021-07-27 17:55] Ayan-thecodeking commented on #146
ya sure @ishan-pf go ahead ...before making a PR add a clip showing what u have updated ....try to add on other pages too if possible

[2021-07-27 17:56] #150 closed

[2021-07-27 18:05] mayank-wadhwa-git commented on #153
I want to change the scrollBar highlighted in picture to the scroll bar with the color of background i.e. red or purple.

![CODERS EVOKE and 2 more pages - Personal - Microsoft​ Edge 27-07-2021 23_32_05_LI](https://user-images.githubusercontent.com/68892762/127205097-0af2cdde-c6a7-4dfa-a9b6-ac69ae68b844.jpg)

[2021-07-27 18:11] Ritwik880 commented on #139
Hey @Ayan-thecodeking I think the about page is working, please have a look:

![Uploading Screenshot (337).png…]()

[2021-07-27 18:57] Ayan-thecodeking commented on #153
ok sure @mayank-wadhwa-git go ahead

[2021-07-27 18:57] #151 closed

[2021-07-27 18:58] #93 closed

[2021-07-27 19:02] aditya687 commented on #93
Ok, I'll try to do contact page

[2021-07-27 19:31] aditya687 commented on #152
I would like to work on this issue @Ayan-thecodeking

[2021-07-27 19:33] aditya687 commented on #153
Please assign me this issue @Ayan-thecodeking . I can give a nice scroll bar for the site for easy navigation through the page.

[2021-07-28 01:51] Ritwik880 commented on #95
Hey @Ayan-thecodeking should I work on this issue?

[2021-07-28 05:46] Ayan-thecodeking commented on #152
@aditya687 y u are always late ...just create ur own issue  this issue is already assign

[2021-07-28 14:02] mayank-wadhwa-git commented on #153
Without hover on scroll Bar

![CODERS EVOKE without hover](https://user-images.githubusercontent.com/68892762/127335572-05f556da-ecb8-437f-9625-8827b9ca96ae.png)

With hover on scroll Bar
![CODERS EVOKE with hover](https://user-images.githubusercontent.com/68892762/127335595-f3619977-1cdb-48fd-ad75-11ed6fabee93.png)

Check @Ayan-thecodeking if the color is fine or should I reverse the color.

[2021-07-29 07:15] #95 closed

[2021-07-29 10:04] PranavKapoor28 opened #164 "Sign In and Sign up form If needed"
Can create a login and registeration form with php connection and mySql database

[2021-07-29 11:16] sr-sweta opened #165 "Improve display feature of pages by adding AOS library features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-29 14:15] Dhruv-194 commented on #165
I would like to work on this! Can you please assign me this issue

[2021-07-29 15:21] Ayan-thecodeking commented on #165
hey @sr-sweta would u like to work on this issue ??

[2021-07-29 15:22] Ayan-thecodeking commented on #164
hey @PranavKapoor28 can we have a discussion on vc ....let me know when u r free ??

[2021-07-29 15:49] aditya687 commented on #139
I would like to work on this issue. This can  be completed within a short interval of time. Please assign me this @Ayan-thecodeking

[2021-07-29 18:30] sr-sweta commented on #165
@Ayan-thecodeking Yes, I want to take up this issue as it will be my first issue to this repo :)

[2021-07-30 06:36] PrathamSahu opened #166 "background image and search bar"
The background image is repeated at the right-side and the search bar is also not look good.
![Screenshot (109)](https://user-images.githubusercontent.com/80022922/127611172-5743e794-d8c2-45a8-88d5-fb42e35297ab.png)

[2021-07-30 06:37] PrathamSahu commented on #166
Assign it to me I fix this issue

[2021-07-30 09:59] rahul-10-byte commented on #138
please assign me this issue.

[2021-07-30 12:24] ishan-pf opened #167 "working on fixing the contact page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-30 13:03] Ayan-thecodeking commented on #167
go ahead @ishan-pf

[2021-07-30 13:22] sr-sweta commented on #165
When you are going to assign me this issue @Ayan-thecodeking . According I have to proceed. Please look into this.

[2021-07-31 02:12] unnati914 opened #169 "Badges that would be given on successfully joining coders evoke : like bronze, silver, gold etc"
probably adding a profile section and in that various section like if one completes certain amount of tenure with the community
bronze : 1 month
silver : 2 months
gold : 6 months
probably ?
thoughts?

[2021-07-31 02:12] unnati914 commented on #169
badges i can make

[2021-07-31 06:12] Ayan-thecodeking commented on #169
wow !! sounds great @unnati914  would be great if u contribute here :)

[2021-07-31 06:14] Ayan-thecodeking commented on #166
hey @PrathamSahu idea is good but we are looking for simple home page ..if we will change the bg image then we have to customize the whole website and if we talk about search bar .....can u tell whats the use of search bar here ??

[2021-07-31 06:16] Ayan-thecodeking commented on #165
sry @sr-sweta actually i thought i hv already assigned ...go ahead

[2021-07-31 06:17] PrathamSahu commented on #166
I do not change bg image I only change its width and only change css of search which is already in navbar of this home page
![Screenshot (109)](https://user-images.githubusercontent.com/80022922/127730772-f96fe54a-9526-43b9-ba9f-07a548f0c7b4.png)
this home page

[2021-07-31 06:18] Ayan-thecodeking opened #170 "Update contact us page"
Update contact us page....image is repeated there

[2021-07-31 06:22] PrathamSahu commented on #166
the new one may look like this
![Screenshot (112)](https://user-images.githubusercontent.com/80022922/127730859-cd06b0e8-616c-4196-8791-1b13234c701e.png)

[2021-07-31 06:28] unnati914 commented on #169
cool I will start working :)

[2021-07-31 07:06] unnati914 commented on #169
@Ayan-thecodeking please look into this

[2021-07-31 09:05] sr-sweta commented on #165
OK Sure

[2021-07-31 09:08] unnati914 commented on #169
done please look at the PR

[2021-07-31 15:43] sr-sweta commented on #165
## Description

Added aos libraby in script and added to index.html and event.html.

[Home Page](https://user-images.githubusercontent.com/70569920/127745022-02b279c9-faae-4b36-871d-461a1d831d5a.mp4)

[Event Page](https://user-images.githubusercontent.com/70569920/127745103-29dc8d41-5ecb-4d6c-935b-cb60c8a12473.mp4)

[2021-08-01 07:26] #170 closed

[2021-08-01 12:36] #169 closed

[2021-08-01 15:28] aditya687 commented on #146
Can I try this issue @Ayan-thecodeking ?

[2021-08-01 15:35] aditya687 commented on #164
Can I work on this issue @Ayan-thecodeking ?

[2021-08-01 15:37] aditya687 commented on #166
Can I work on this issue @Ayan-thecodeking ?

[2021-08-01 15:38] aditya687 commented on #167
Can I try this issue @Ayan-thecodeking ?

[2021-08-02 17:11] #138 closed

[2021-08-02 17:28] #165 closed

[2021-08-02 17:32] Ayan-thecodeking commented on #146
hey @ishan-pf updates

[2021-08-03 13:06] #166 closed

[2021-08-03 14:45] sr-sweta opened #176 "Problem in Home Page"
**Describe the bug**
Home page is being displayed wrongly. I think while resolve the conflict in PR #172 it happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
"Benefits if you join us" and its cards got duplicated.

**Screenshots**

![Screenshot (806)](https://user-images.githubusercontent.com/

[2021-08-03 17:53] #139 closed

[2021-08-03 17:55] Ayan-thecodeking commented on #176
CHeck It again @sr-sweta resolved now ..let me know if any further changes required

[2021-08-03 17:56] #167 closed

[2021-08-03 17:57] #164 closed

[2021-08-03 17:57] #152 closed

[2021-08-03 17:58] Ayan-thecodeking opened #178 "Redesign About us Page"

[2021-08-03 17:59] Ayan-thecodeking opened #179 "Add one hall of fame (HOF) section on navbar and design it"

[2021-08-03 18:00] Ayan-thecodeking opened #180 "Set coders evoke logo in same ratio/size for every page"

[2021-08-03 18:03] Ayan-thecodeking commented on #153
ok cool @mayank-wadhwa-git make a pr

[2021-08-03 18:31] Ayan-thecodeking opened #182 "Add responsiveness in every page of coders evoke"

[2021-08-04 02:56] Dhruv-194 commented on #178
Hey @Ayan-thecodeking Can I work on this issue?

[2021-08-04 08:49] mayank-wadhwa-git commented on #153
done

[2021-08-04 08:55] Ayan-thecodeking commented on #178
Ya sure @Dhruv-194

[2021-08-04 15:43] devanshi-code commented on #182
I am not sure that I will be able to do it, but want to give a try can I work on this issue?

[2021-08-04 19:15] #180 closed

[2021-08-04 19:17] Ayan-thecodeking commented on #182
ya sure @devanshi-code go ahead ....let us know if u face issues

[2021-08-04 19:18] Ayan-thecodeking commented on #178
go ahead

[2021-08-05 17:56] #153 closed

[2021-08-06 02:31] Grace-Hephzibah opened #185 "Adding FavIcon to the Website"

[2021-08-06 02:31] Grace-Hephzibah commented on #185
Can I work on this issue?

[2021-08-06 18:13] Ayan-thecodeking commented on #185
yup sure @Grace-Hephzibah .....pls add ss before adding a pr

[2021-08-06 18:14] Ayan-thecodeking commented on #182
any updates @devanshi-code

[2021-08-06 18:14] Ayan-thecodeking commented on #178
any updates @Dhruv-194

[2021-08-06 18:46] Dhruv-194 commented on #178
@Ayan-thecodeking I will do it by today :)

[2021-08-07 09:15] Grace-Hephzibah commented on #185
Sure.

[2021-08-07 14:34] devanshi-code commented on #182
trying @Ayan-thecodeking

[2021-08-07 15:00] devanshi-code commented on #182
@Ayan-thecodeking I am not able to do it , I am unassigning it to myself ,will try to contribute in any other thing

[2021-08-09 09:06] Ayan-thecodeking commented on #182
no issues @devanshi-code ask if u have any doubts

[2021-08-09 15:27] anubhav201241 opened #188 "Updating Social links"
**Is your feature request related to a problem? Please describe.**
Yes, want to Update the social links
**Describe the solution you'd like**
add social links in the file

[2021-08-09 16:40] Ayan-thecodeking commented on #188
yup go ahead @anubhav201241

[2021-08-09 17:13] #188 closed

[2021-08-12 04:42] SAHU-01 opened #191 "Logo Size Difference on each page"
**Describe the bug**
A clear and concise description of what the bug is.

The logo size on every header is different,all the pages need a fix for it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' any page'
2. Click on 'Header'
3. Scroll down to ' see it has a different size on each'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-08-12 19:25] gunjan-g commented on #191
Can i work on this issue, please assign it to me

[2021-08-13 09:25] gunjan-g commented on #191
@Ayan-thecodeking Can i work on this issue, please assign it to me

[2021-08-13 17:10] Ayan-thecodeking commented on #191
ya sure @gunjan-g

[2021-08-14 18:24] Ayan-thecodeking opened #193 "Improve Opportunities page"

[2021-08-16 12:50] Subhradeep10 opened #197 "About us Page is incomplete"
![Screenshot from 2021-08-16 18-19-11](https://user-images.githubusercontent.com/70656957/129566323-344827bb-9c07-4778-8234-d9f26336b63b.png)

Can anyone build design/ or give some idea so that we can add!

[2021-08-17 04:00] SurabhiSuresh22 opened #198 "Home page About us section"
**Is your feature request related to a problem? Please describe.**
It's not actually a problem, but a feature that I can add to make it look amazing

**Describe the solution you'd like**
Add carousel(sliding effect) in the about us section on the home page. It would look great with that auto sliding effect

**Describe alternatives you've considered**
The sliding is automatic as well as control.

*

[2021-08-17 15:28] Ayan-thecodeking commented on #198
can you explain what feature u wnat to add ?? @SurabhiSuresh22

[2021-08-17 15:29] Ayan-thecodeking commented on #197
hey @Subhradeep10 actually we are totally re designing our website ...

[2021-08-17 15:42] SurabhiSuresh22 commented on #198
I would like to add a carousel(sliding effect) using bootstrap in the about us section on the home page using 2 more images and quotes. It would look great with that auto sliding effect. It can be automated as well as controlled, a simple image is shown in the issue.
Thankyou

[2021-08-17 17:48] gunjan-g commented on #193
@Ayan-thecodeking please assign this issue to me

[2021-08-17 19:09] Ayan-thecodeking commented on #198
![WhatsApp Image 2021-08-15 at 11 13 24 AM](https://user-images.githubusercontent.com/78692566/129785952-cf82c997-e293-4270-8161-a0c3ebb5ef85.jpeg)
@SurabhiSuresh22 this is the new design we have redesigned are you up for designeg this ???

[2021-08-17 19:17] Ayan-thecodeking opened #199 "Home page redesign"
![Screenshot (44)](https://user-images.githubusercontent.com/78692566/129786951-3be2dc2d-d571-43e7-a6dc-6c7dccac0b5e.png)

[2021-08-17 19:19] Ayan-thecodeking opened #200 "redesign about us page"
![aboutus](https://user-images.githubusercontent.com/78692566/129787232-37a34374-becc-4201-b3b2-3d8ba9dad817.jpeg)

[2021-08-17 19:23] Ayan-thecodeking commented on #198
@SurabhiSuresh22 u can check home page as well

[2021-08-17 19:24] #191 closed

[2021-08-17 19:24] #182 closed

[2021-08-17 19:24] #146 closed

[2021-08-17 19:24] #178 closed

[2021-08-17 19:25] Ayan-thecodeking commented on #178
@Dhruv-194 check design ...is out now

[2021-08-18 13:46] nirban256 commented on #200
hey @Ayan-thecodeking can I work in it ?

[2021-08-18 13:51] Ayan-thecodeking commented on #200
ya sure @nirban256 go ahead ....first make it for mobile view so that it will look responsiveness

[2021-08-18 13:54] Ayan-thecodeking commented on #200
we'll  send  illustration soon

[2021-08-18 13:55] nirban256 commented on #200
ok, cool!

[2021-08-18 16:15] Nicks-tech opened #201 "Spelling mistake"

[2021-08-18 16:16] #201 closed

[2021-08-19 09:13] AKSHATNEMA commented on #199
@Ayan-thecodeking I and @ghulamyazdani will be working on this issue and will design the homepage according to illustration.

[2021-08-19 13:19] Ayan-thecodeking commented on #199
ya sure bro go ahead
@AKSHATNEMA

[2021-08-19 15:00] Ayan-thecodeking commented on #199
illustrations are updated @AKSHATNEMA  check in assests

[2021-08-20 03:55] RiyaGupta89 commented on #198
@Ayan-thecodeking I can design this, if the image is being provided to me.

[2021-08-20 03:56] RiyaGupta89 commented on #179
Can i work on it?

[2021-08-21 17:48] ORKO06 commented on #193
I would like to work on this

[2021-08-21 18:39] Ayan-thecodeking commented on #200
@nirban256 ARE U WORKING on this ??

[2021-08-21 18:40] Ayan-thecodeking opened #204 "Redesign opportunities page"

[2021-08-21 18:46] Ayan-thecodeking commented on #204
![Screenshot (46)](https://user-images.githubusercontent.com/78692566/130331983-56ee524d-df94-491c-9d21-6f819d31cf3b.png)

[2021-08-21 18:47] Ayan-thecodeking commented on #198
@RiyaGupta89 sure you can work ...let me know you are up or not
comment on #200

[2021-08-21 18:50] #198 closed

[2021-08-21 18:50] #197 closed

[2021-08-21 18:50] #193 closed

[2021-08-21 18:51] #179 closed

[2021-08-21 18:52] nirban256 commented on #204
Hey, can I work on it, might take a little bit more time?

[2021-08-21 18:54] Ayan-thecodeking commented on #200
@RiyaGupta89 let me know ??

[2021-08-21 18:54] nirban256 commented on #204
Ok I will do my best

[2021-08-22 02:50] RiyaGupta89 commented on #200
@Ayan-thecodeking  Yes, I would like to work on this.

[2021-08-22 03:46] Ayan-thecodeking commented on #200
Yup sure go ahead @RiyaGupta89 plz make it for mobile view to look more responsive

[2021-08-23 04:56] yashsehgal opened #205 "Header component can be improvised"
**Describe the bug**
The header component is kind of not consistent on every page. We can improvise the respective CSS for it. Right now, It's looking like this
![image](https://user-images.githubusercontent.com/62352288/130391846-ad7e9183-548b-4d7d-b436-714735a5b348.png)
We can work more on this

**Things to follow up**
- [ ] Layout of the header component
- [ ] Hovering effect
- [ ] Logo is not

[2021-08-23 05:27] Ayan-thecodeking commented on #205
@yashsehgal bro we are redesigning the whole website ...you can check out the designs

[2021-08-23 05:27] #205 closed

[2021-08-23 12:38] RiyaGupta89 commented on #200
@Ayan-thecodeking Is the codebase using bootstrap?

[2021-08-23 12:40] RiyaGupta89 commented on #200
@Ayan-thecodeking Should I use raw css or bootstrap. It is more comfortable for me to use raw CSS. But I can use bootstrap as well as you say.

[2021-08-28 17:46] Ayan-thecodeking opened #208 "Redesign event page"
![WhatsApp Image 2021-08-27 at 8 31 41 PM](https://user-images.githubusercontent.com/78692566/131226192-1d766421-103b-48c2-a64f-746ec9d3ca4a.jpeg)

[2021-08-29 11:28] PrakharSahu02 commented on #208
I want to work on it @Ayan-thecodeking

[2021-08-30 10:03] Ayan-thecodeking commented on #208
ya sure @PrakharSahu02 ...make sure you are making fully esponsive

[2021-08-30 10:04] PrakharSahu02 commented on #208
yes @Ayan-thecodeking

[2021-09-09 08:54] Ayan-thecodeking commented on #199
@ghulamyazdani let me know about the updates

[2021-09-09 08:55] Ayan-thecodeking commented on #200
@RiyaGupta89
 let me know about the updates

[2021-09-09 08:55] Ayan-thecodeking commented on #204
@nirban256  let me know about the updates

[2021-09-09 08:56] Ayan-thecodeking commented on #208
@PrakharSahu02
let me know about the updates

[2021-09-09 09:43] nirban256 commented on #204
ok

[2021-09-09 14:32] Subhradeep10 opened #214 "Will Create Dark Mode for the Website"
Can you assign this to me?

[2021-09-09 18:12] vedanthv commented on #208
Hey @Ayan-thecodeking,
Can you send a mockup/design of the page if there are any specifics you want? I can work on it.

[2021-09-09 18:21] Ayan-thecodeking commented on #208
https://www.figma.com/file/42vVaMYCFM3FwLBjCuZQi8/Untitled?node-id=0%3A1 check this out ....sure u can work

@vedanthv

[2021-09-09 18:21] Ayan-thecodeking commented on #208
let me know if you are interested

[2021-09-10 03:53] vedanthv commented on #208
@Ayan-thecodeking Cool. I can work on it. Can you give me the stock images used in the website and can I use TailwindCSS?

[2021-09-10 07:46] Ayan-thecodeking commented on #208
Sure go ahead ....images are there in the assests folder ...check it out there
I'll assign you ...use accordingly ..just make it responsive in both we as well as mobile view

[2021-09-10 08:55] vedanthv opened #215 "Fix typos and grammar in the Readme"
The Readme for the project had typos and grammar errors. This makes it look clumsy and not professional. I have fixed all such minor yet important lines.

[2021-09-10 08:55] vedanthv commented on #215
I am working on this issue maintainers. I will raise a PR soon

[2021-09-10 15:30] Ayan-thecodeking commented on #215
yup thanx @vedanthv

[2021-09-10 15:32] #215 closed

[2021-09-10 17:23] #214 closed

[2021-09-10 17:24] Ayan-thecodeking commented on #214
actually @Subhradeep10 we are redesigning our website ...wait for some time

[2021-09-10 18:44] RaviAnand111 commented on #208
@vedanthv Can I work on it too, we both can do it, I also want to help in this, I will get to learn alot. Please @vedanthv @Ayan-thecodeking  ??

[2021-09-13 11:25] vedanthv commented on #208
cool. working on it

[2021-09-19 14:09] aayush89890 opened #220 "Two Footers on Events.html page"
### I can see two footers on the events.html page adding screenshot for refrence.

![image](https://user-images.githubusercontent.com/37421316/133930442-cf5e0ed7-00dd-4e0f-997f-11f760f65891.png)

Open index.html from the project.
Navigate to Events Page.
Scroll down to the footer.
There are Two footers.

There should be only one footer on Events.html page

**Desktop (please complete the following

[2021-09-19 14:19] aayush89890 opened #222 "Invite aayush89890"
### Please send to invite to join this community.

[2021-09-20 18:48] #199 closed

[2021-09-30 15:24] aryasoni98 commented on #220
I would like to work on it !!

[2021-10-02 04:25] utkarsh1311 opened #226 "The links of the footer section doesn't work."
**Describe the bug**
The links given in the Footer section of the website do not redirect to the respective part of the website due to them not being an anchor tag.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Footer section of index.html.
2. Link the footer section links to their  respective webpages.

**Expected behavior**
The links given in the Footer section of the website will

[2021-10-04 16:50] Ayan-thecodeking commented on #226
We don't have any pages for that ....so how we can link them @utkarsh1311

[2021-10-04 16:53] utkarsh1311 commented on #226
There is a ```events.html``` file right??
I thought it was meant for those links. Sorry if I was mistaken.

[2021-10-16 12:16] SahityaRoy opened #228 "Do u need a blog page"
**Is your feature request related to a problem? Please describe.**
no it's not a problem it's a new features

**Describe the solution you'd like**
you guys can upload your blogs on that so that viewers can learn something new

**Describe alternatives you've considered**
![16 10 2021_17 40 54_REC](https://user-images.githubusercontent.com/72821604/137586943-e0c4e819-7e7d-4d4b-be56-175a803cebde.png)

[2021-10-16 12:41] SahityaRoy commented on #228
![16 10 2021_18 07 58_REC](https://user-images.githubusercontent.com/72821604/137587827-dbf72cb1-c08f-4218-852d-42ddcfdfb47b.png)

[2021-11-06 16:40] nirban256 commented on #208
Hey @Ayan-thecodeking can I work on this issue? If nobody is working then.

[2021-11-06 16:41] Ayan-thecodeking commented on #208
Go ahead @nirban256

[2021-11-06 16:44] nirban256 commented on #208
@Ayan-thecodeking ok